In [1]:
import pandas as pd
import numpy as np
import time
import matplotlib
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D
import missingno as msno
from wordcloud import WordCloud, STOPWORDS
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [2]:
train = pd.read_csv("data/numeric_train.csv", encoding='utf-8', sep=',')

test = pd.read_csv("data/numeric_test.csv", encoding='utf-8', sep=',')

In [3]:
train.head()

,1stFlrSF,2ndFlrSF,3SsnPorch,BedroomAbvGr,BsmtFinSF1,BsmtFinSF2,BsmtFullBath,BsmtHalfBath,BsmtUnfSF,EnclosedPorch,...,ConLD,ConLI,ConLw,New,Oth,WD,Grvl.1,Pave.1,AllPub,NoSeWa
0,6.753438,1.207792,-0.103474,3,0.583291,-0.293462,1.0,-0.250083,-0.934330,-0.359550,...,0,0,0,0,0,1,0,1,1,0
1,7.141245,-0.785090,-0.103474,3,1.180982,-0.293462,0.0,3.816908,-0.629436,-0.359550,...,0,0,0,0,0,1,0,1,1,0
2,6.825460,1.235795,-0.103474,3,0.099864,-0.293462,1.0,-0.250083,-0.288137,-0.359550,...,0,0,0,0,0,1,0,1,1,0
3,6.869014,0.979101,-0.103474,3,-0.493432,-0.293462,1.0,-0.250083,-0.046952,3.875374,...,0,0,0,0,0,1,0,1,1,0
4,7.044033,1.672176,-0.103474,4,0.471224,-0.293462,1.0,-0.250083,-0.160718,-0.359550,...,0,0,0,0,0,1,0,1,1,0

In [4]:
test.head()

,1stFlrSF,2ndFlrSF,3SsnPorch,BedroomAbvGr,BsmtFinSF1,BsmtFinSF2,BsmtFullBath,BsmtHalfBath,BsmtUnfSF,EnclosedPorch,...,ConLD,ConLI,ConLw,New,Oth,WD,Grvl.1,Pave.1,AllPub,NoSeWa
0,6.799056,-0.785090,-0.103474,2,0.060311,0.556785,0.0,-0.250083,-0.661290,-0.35955,...,0,0,0,0,0,1,0,1,1,0
1,7.192934,-0.785090,-0.103474,3,1.060126,-0.293462,0.0,-0.250083,-0.351846,-0.35955,...,0,0,0,0,0,1,0,1,1,0
2,6.834109,0.850753,-0.103474,3,0.770070,-0.293462,0.0,-0.250083,-0.963909,-0.35955,...,0,0,0,0,0,1,0,1,1,0
3,6.831954,0.797081,-0.103474,3,0.354762,-0.293462,0.0,-0.250083,-0.538423,-0.35955,...,0,0,0,0,0,1,0,1,1,0
4,7.155396,-0.785090,-0.103474,2,-0.390154,-0.293462,0.0,-0.250083,1.038380,-0.35955,...,0,0,0,0,0,1,0,1,1,0

In [5]:
all_df = pd.concat((train, test), axis=0)

In [6]:
all_df.head()

,1stFlrSF,2ndFlrSF,3SsnPorch,BedroomAbvGr,BsmtFinSF1,BsmtFinSF2,BsmtFullBath,BsmtHalfBath,BsmtUnfSF,EnclosedPorch,...,ConLD,ConLI,ConLw,New,Oth,WD,Grvl.1,Pave.1,AllPub,NoSeWa
0,6.753438,1.207792,-0.103474,3,0.583291,-0.293462,1.0,-0.250083,-0.934330,-0.359550,...,0,0,0,0,0,1,0,1,1,0
1,7.141245,-0.785090,-0.103474,3,1.180982,-0.293462,0.0,3.816908,-0.629436,-0.359550,...,0,0,0,0,0,1,0,1,1,0
2,6.825460,1.235795,-0.103474,3,0.099864,-0.293462,1.0,-0.250083,-0.288137,-0.359550,...,0,0,0,0,0,1,0,1,1,0
3,6.869014,0.979101,-0.103474,3,-0.493432,-0.293462,1.0,-0.250083,-0.046952,3.875374,...,0,0,0,0,0,1,0,1,1,0
4,7.044033,1.672176,-0.103474,4,0.471224,-0.293462,1.0,-0.250083,-0.160718,-0.359550,...,0,0,0,0,0,1,0,1,1,0

In [13]:
all_df['SalePrice'].iloc[train.shape[0]:]

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
        ..
1429   NaN
1430   NaN
1431   NaN
1432   NaN
1433   NaN
1434   NaN
1435   NaN
1436   NaN
1437   NaN
1438   NaN
1439   NaN
1440   NaN
1441   NaN
1442   NaN
1443   NaN
1444   NaN
1445   NaN
1446   NaN
1447   NaN
1448   NaN
1449   NaN
1450   NaN
1451   NaN
1452   NaN
1453   NaN
1454   NaN
1455   NaN
1456   NaN
1457   NaN
1458   NaN
Name: SalePrice, Length: 1459, dtype: float64

In [12]:
len(train)

1452

In [14]:
len(test)

1459

In [15]:
#para separar all_df en train / test: train = all_df.iloc[:train.shape[0],:]; test = all_df.iloc[train.shape[0]:,:];

Variable 'IsRemod', si ha sido remodelada o no

In [30]:
all_df['IsRemod'] = 0
for i in range(len(all_df)):
    if all_df['YearBuilt'].iloc[i] != all_df['YearRemodAdd'].iloc[i]:
        all_df['IsRemod'].iloc[i] = 1

C:\Users\Rodrigo\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

Variable 'RemodOld', aÃ±os desde la reforma hasta el 2018

In [32]:
all_df['RemodOld'] = 2018 - all_df['YearRemodAdd']

Variable 'RelOld', Antiguedad relativa en aÃ±os

In [39]:
all_df['RelOld'] = all_df['YearBuilt'] - min(all_df['YearBuilt'])

Variable 'RelRoomSize', Zona habitable (menos cuartos de baÃ±o) partido por numero de habitaciones

In [42]:
all_df['RelRoomSize'] = all_df['GrLivArea']/all_df['TotRmsAbvGrd']

In [45]:
all_df.shape

(2911, 308)

In [134]:
train.to_csv('data/train_ft_eng.csv', sep=',', index=False)
test.to_csv('data/test_ft_eng.csv', sep=',', index=False)